*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background: red;
   height: 500px; 
   width: 80%;
   border-radius: 10px;
   border: 3px solid #ECF0F1 ;
   overflow: hidden;
}

.head {
    background: #4585EE;
    padding: 10px;
    text-align: center;
    color: white;
}

.chats{
    height: 84%;
}

.chats li{
    display: flex;
    width: fit-content;
}

.chats .incoming-mssg p {
    padding: 10px;
    list-style: none;
    background: #ECF0F1;
    border-radius: 15px 15px 15px 0;
    margin: 15px 0 0 5px;    
}

.chats .incoming-mssg span {
    align-self: flex-end;
    margin: 0px 0px 0 10px;
    background: #4585EE;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 6px 0 0 0;
    border-radius: 5px;
}

.chats .outgoing-mssg {
    margin: 15px 8px 15px 55%;
    background: #4585EE;
    list-style: none;
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    color: #fff;
}

.text {
    display: flex;
}

.text textarea {
    height: 35px;
    width: 93%;
    border-radius: 10px;
    padding: 7px 0 0 7px;
    border: none;
}

.text span {
    background: #4585EE;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px 0 0 5px;
    cursor: pointer;

}

.text .fa {
    padding: 4px 0 0 3px;
}